{% extends 'main/navbar.html' %} {% load widget_tweaks %}
{%block content%}

<style>
    #calendar {
        padding-top: 2%; 
        padding-bottom: 2%; 
        background-color: #e9cbd3;
        border-style: outset;
        border-radius: 5px;
        border-color: black;
    }
    table, th, td {
        border: 1px solid black;
    }

    .fc-prev-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-next-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-today-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-dayGridMonth-button.btn.btn-primary.active {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-timeGridWeek-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-timeGridDay-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }

    .fc-addEventButton-button.btn.btn-primary {
        background-color: #7ec4cf;
        border-color: #7ec4cf;
    }
</style>



<div class="container-fluid">
    <br>
    <br>
    <div class="row" style="padding-left: 2%; padding-right: 2%; border-width: 2px;"> 
        <div id="calendar" ></div>
    </div>
</div>

<div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
            </div>
            <form action="{% url 'calendar' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="col-form-label">Type:</label>
                        {{ form.event_type }}
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Event Title:</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        {{ form.about }}
                    </div>
                    <div class="form-group">
                        <label for="start" class="col-form-label">Start Date:</label>
                        <input type="datetime-local" class="form-control" name="start_date" id="start">
                    </div>
                    <div class="form-group">
                        <label for="end" class="col-form-label">End Date:</label>
                        <input type="datetime-local" class="form-control" name="end_date" id="end">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- {{ calendars|json_script:"calendar_data" }} -->
<script>
    
    document.addEventListener("DOMContentLoaded", function () {

        var modal = document.getElementById("eventModal");

        var quit = document.getElementById("modalClose2");

        // Initialize calendar
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // format of calendar
            themeSystem: "bootstrap",
            locale: "en",
            firstDay: 1,
            weekday: "long",
            height: "650px",
            initialView: "dayGridMonth",
            selectable: true,
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,addEventButton'},

            // display event
            // resources:[
            // for (let i = 0; i < 5; i++) {
            //     text += "The number is " + i + "<br>";
            //     }
            // ],

            
            events:{},










            //create event
            customButtons: {
                addEventButton: {
                    text: 'add event',
                    click: function() {
                        modal.style.display = "block";
                    }
                    
                }
            }
            
        });
        calendar.render();

        quit.onclick = function() {
            modal.style.display = "none";
        }

    });
    
</script>












{% endblock %}