{% extends 'main/navbar.html' %} 
{%block content%}

<style>
    .calendar {
  width: 98%;
  height: 60%;
  margin: auto;
  font-size: 15px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.calendar td:hover{
  background-color: whitesmoke;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
  color: navy;
}

/* .left {
  float: left;
}

.right {
  float: right;
} */

.btn.left{
  outline: none;
  color: white;
  background-color: gray;
  box-shadow: 0 0 0 0;
  float: left;
}

.btn.right{
  outline: none;
  color: white;
  background-color: gray;
  box-shadow: 0 0 0 0;
  float: right;
}

.clearfix {
  margin: 15px;
}
</style>

<div class="clearfix" id="calendar">
    <div class="btn-group" role="group" aria-label="Basic example">
	<a class="btn left" href="{'% url 'calendar' %}?{{ prev_month }}"> Prev </a>
    <a class="btn left" href="{'% url 'calendar' %}?{{ next_month }}"> Next </a>
    </div>
    <a class="btn  right" data-bs-toggle="modal" data-bs-target="#eventModal"> New Event </a>
	
</div>


<div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Event</h5>
            </div>
            <form action="{% url 'create-event' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="col-form-label">Type:</label>
                        {{ form.event_type }}
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Event Title:</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        {{ form.about }}
                    </div>
                    <div class="form-group">
                        <label for="start" class="col-form-label">Start Date: <i style="font-size: 11px;"> For tasks, set the start date and end date on the same day.</i></label>
                        <input type="datetime-local" class="form-control" name="start_date" id="start">
                    </div>
                    <div class="form-group">
                        <label for="end" class="col-form-label">End Date:</label>
                        <input type="datetime-local" class="form-control" name="end_date" id="end">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalClose2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{ calendar }}





{% endblock %}