{% extends 'main/navbar2.html' %} 
{% block content %}
{{form.media}}
</head>
<body style="background-color:{{color.value_background}}">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: {{color.value_navbar}}">
        <div class="container-fluid">
          <div class = "topnav-left">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="navbar-brand"href="#">Reminderific</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="#" style="font-weight:bold">
                  <i class="fas fa-sticky-note"></i>
                   Daily Note
                  </a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    Dashboard
                  </a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'calendar' %}">
                    Calendar
                  </a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'notesview' %}">
                    Notes
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" href="#" style="font-weight: bold;">
                    <i class="fas fa-sticky-note"></i>
                    Daily Note
                  </a>
                </li>
                {%  endif  %}
              </ul>
          </div>
          <div class="topnav-right" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class = "nav-item dropdown">  
                  <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle"></i> 
                    Hi {{ user.first_name }} !
                  </a>
                  <div class="dropdown-menu">
                    <a href="{% url 'pastel-themed' %}" class="dropdown-item">Pastel-themed</a>
                    <a href="{% url 'neutral-themed' %}" class="dropdown-item">Neutral-themed</a>
                    <a href="{% url 'bright-themed' %}" class="dropdown-item">Bright-themed</a>
                </div>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                </li>
                {% else %}
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'login' %}">
                    Login</a>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'register' %}">
                    Register</a>
              </li>
                {% endif %}
            </ul>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>


<br> <br>


<button
    class="btn btn-sm btn-outline-dark "
    data-bs-toggle="modal"
    data-bs-target="#note"
    style="background-color: #7ec4cf; border-color: #7ec4cf; margin-left: 85%;">
    <i class="fas fa-plus"></i>
    Add new note </button>
    <br> <br>

    <div class="modal fade" id="note" >
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #9cadce;">
                <h5 class="modal-title">Create New Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'notesview' %}" method="post">
                {% csrf_token %}
                <div class="modal-body" style="color: black">
                    <div class="modal-body" style="color: black">
                            <div class="row" style="margin-left: 15%; margin-right: 15%">
                            </div>
                            <br />
                            <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                            <div class="col">Title: {{form.title}}</div>
                            </div>
                            <br />
                            <br />
                            <div class="row" style="margin-left: 15%; margin-right: 15%">
                            <div class="col">Enter note text:{{form.text}}</div>
                        </div>
                    </div>
                    <br> <br>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="submit_button" type="submit" class="btn btn-primary" style="background-color: #7ec4cf; border-color: #7ec4cf;">Add note</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

<main>
    <div class="container">
      <hr> <br> <br>
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for note in notes %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                  <h5 class = "card-title">{{ note.title}}</h5>
                    <p class = "card-text">{% autoescape off %}{{note.text}}{% endautoescape %}</p>
                    <form action="{% url 'update-note' note.id%}">
                        {% csrf_token %}
                        <button id="submit_button" type="submit" class="btn btn-sm btn-success" style="margin:auto; display: block; background-color: #7ec4cf; border-color: #7ec4cf;">
                            <i class="fas fa-pen-square"></i>
                        Update
                    </button>
                    </form>
                    <form action="{% url 'delete-note' note.id %}" method="post">
                        {% csrf_token %}
                        <button id="submit_button" type="submit" class="btn btn-sm btn-success" style="margin:auto; display: block; background-color: #7ec4cf; border-color: #7ec4cf;">
                            <i class="fas fa-trash"></i>
                        Delete
                    </button>
                    </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
</main>


{% endblock %}