{% extends 'main/navbar.html' %} 
{% block content %}

<br> <br>


<button
    class="btn btn-sm btn-outline-dark "
    data-bs-toggle="modal"
    data-bs-target="#note"
    style="background-color: #7ec4cf; border-color: #7ec4cf; margin-left: 85%;">
    <i class="fas fa-plus"></i>
    Add new note </button>
    <br> <br>

    <div class="modal fade" id="note" >
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #9cadce;">
                <h5 class="modal-title">Create New Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'notesview' %}" method="post">
                {% csrf_token %}
                <div class="modal-body" style="color: black">
                    <div class="modal-body" style="color: black">
                            <div class="row" style="margin-left: 15%; margin-right: 15%">
                            </div>
                            <br />
                            <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                            <div class="col">Title: {{form.title}}</div>
                            </div>
                            <br />
                            <br />
                            <div class="row" style="margin-left: 15%; margin-right: 15%">
                            <div class="col">Enter note text: {{form.text}}</div>
                        </div>
                    </div>
                    <br> <br>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="submit_button" type="submit" class="btn btn-primary" style="background-color: #7ec4cf; border-color: #7ec4cf;">Add note</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

<main>
    <div class="container">
      <hr> <br> <br>
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for note in notes %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                  <h5 class = "card-title">{{ note.title}}</h5>
                    <p class = "card-text">{{ note.text}}</p>
                    <form action="{% url 'update-note' note.id%}" method="post">
                        {% csrf_token %}
                        <button id="submit_button" type="submit" class="btn btn-sm btn-success" style="margin:auto; display: block; background-color: #7ec4cf; border-color: #7ec4cf;">
                            <i class="fas fa-pen-square"></i>
                        Update
                    </button>
                    </form>
                    <form action="{% url 'delete-note' note.id %}" method="post">
                        {% csrf_token %}
                        <button id="submit_button" type="submit" class="btn btn-sm btn-success" style="margin:auto; display: block; background-color: #7ec4cf; border-color: #7ec4cf;">
                            <i class="fas fa-trash"></i>
                        Delete
                    </button>
                    </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
</main>


{% endblock %}