{% extends 'main/navbar2.html' %} 
{% block content %}
{{form.media}}
</head>
<body style="background-color:{{color.value_background}}">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: {{color.value_navbar}}">
        <div class="container-fluid">
          <div class = "topnav-left">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="navbar-brand"href="#">Reminderific</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="#" style="font-weight:bold">
                  <i class="fas fa-sticky-note"></i>
                   Daily Note
                  </a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'dashboard' %}">
                    Dashboard
                  </a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'calendar' %}">
                    Calendar
                  </a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'notesview' %}">
                    Notes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'about' %}">
                    Help
                  </a>
                  <div class="dropdown-menu" style="position: absolute; margin-left: 25%;">
                    <a href="{% url 'about' %}" class="dropdown-item">About Daily Note</a>
                    <a href="{% url 'helpdash' %}" class="dropdown-item">Dashboard Guide</a>
                    <a href="{% url 'helpcal' %}" class="dropdown-item">Calendar Guide</a>
                    <a href="{% url 'helpnotes' %}" class="dropdown-item">Notes Guide</a>
                    <a href="{% url 'helpthemes' %}" class="dropdown-item">Themes Guide</a>
                </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" href="#" style="font-weight: bold;">
                    <i class="fas fa-sticky-note"></i>
                    Daily Note
                  </a>
                </li>
                {%  endif  %}
              </ul>
          </div>
          <div class="topnav-right" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class = "nav-item dropdown">  
                  <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle"></i> 
                    Hi {{ user.first_name }} !
                  </a>
                  <div class="dropdown-menu">
                    <a href="{% url 'pastel-themed' %}" class="dropdown-item">Pastel-themed</a>
                    <a href="{% url 'neutral-themed' %}" class="dropdown-item">Neutral-themed</a>
                    <a href="{% url 'bright-themed' %}" class="dropdown-item">Bright-themed</a>
                </div>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                </li>
                {% else %}
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'login' %}">
                    Login</a>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'register' %}">
                    Register</a>
              </li>
                {% endif %}
            </ul>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>


<br> <br>

<div class="col-11">
  <div class="card border-info" style="margin-left: 15%; margin-right: 5%; ">
    <h5 class="card-header" style="text-align: center; background-color: #9cadce; ">Update Note</h5>
      <div class="card-body" style="border-color: #9cadce;">
          
        <form method="post">
          {% csrf_token %}
                      <div class="row" style="margin-left: 15%; margin-right: 15%">
                      </div>
                      <br />
                      <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                      <div class="col">Title: {{form.title}}</div>
                      </div>
                      <br />
                      <br />
                      <div class="row" style="margin-left: 15%; margin-right: 15%">
                      <div class="col">Enter note text: {{form.text}}</div>
                      </div>
                      <br >
                      <hr >
                      <div style="margin-left: 80%;">
                        <div class="btn btn-secondary">
                          <a href="{% url 'notesview' %}" style="color: white; text-decoration: none;"> Cancel </a>
                        </div>
                        <button id="submit_button" type="submit" class="btn btn-primary" style="background-color: #7ec4cf; border-color: #7ec4cf;">Update</button>
                      </div>
                      <br>
      </form>

      </div>
  </div>
</div>
<br> <br> <br> <br> <br>

{% endblock %}