{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Note</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block content %}
  </head>
<body style="background-color:">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: {{color.value_navbar}}">
        <div class="container-fluid">
          <div class = "topnav-left">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="navbar-brand"href="#">Reminderific</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="#" style="font-weight:bold">
                  <i class="fas fa-sticky-note"></i>
                   Daily Note
                  </a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'dashboard' %}">
                    Dashboard
                  </a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'calendar' %}">
                    Calendar
                  </a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'notesview' %}">
                    Notes
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" href="#" style="font-weight: bold;">
                    <i class="fas fa-sticky-note"></i>
                    Daily Note
                  </a>
                </li>
                {%  endif  %}
              </ul>
          </div>
          <div class="topnav-right" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class = "nav-item dropdown">  
                  <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle"></i> 
                    Hi {{ user.first_name }} !
                  </a>
                  <div class="dropdown-menu">
                    <a href="{% url 'pastel-themed' %}" class="dropdown-item">Pastel-themed</a>
                    <a href="{% url 'neutral-themed' %}" class="dropdown-item">Neutral-themed</a>
                    <a href="{% url 'bright-themed' %}" class="dropdown-item">Bright-themed</a>
                </div>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                </li>
                {% else %}
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'login' %}">
                    Login</a>
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'register' %}">
                    Register</a>
              </li>
                {% endif %}
            </ul>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

      

      {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>