{% extends 'main/navbar.html' %} {% block content %}

<form action="#" method="post">
    <div class="modal-body" style="color: black">
        {% csrf_token %}
        <center>
        <br />
        <h2> Registration
        </h2>
        </center>
        <br />

        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Enter First Name: {{form.first_name}}</div>
        <div class="col">Enter Last Name: {{form.last_name}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Enter Username: {{form.username}}</div>
        <div class="col">Enter Email: {{form.email}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Enter Password: {{form.password1}}</div>
        <div class="col">Confirm Password: {{form.password2}}</div>
        </div>
        <br />
        <!-- <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
        <div class="col">Confirm Password: {{form.password2}}</div>
        </div> -->
        <br/>
        <br/>
    </div>
    {% if form.errors %} {% for key, value in form.errors.items %}
    <div
      class="alert alert-danger alert-dismissable fade show reg-error"
      role="alert"
    >
      <strong>Error!</strong> {{value|striptags}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="modal-footer">
      <a href="{% url 'index'%}"><button type="button" class="btn btn-secondary">Cancel</button></a>
      <button id="submit_button" type="submit" class="btn btn-primary" style="background-color: #7ec4cf; border-color: #7ec4cf;">Create Account</button>
    </div>
</form>

{% endblock %}